# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
.env/
ENV/

# IDE / Editor specific
.vscode/
.idea/
*.swp

# Test outputs (if you generate files you don't want to commit)
# output_vtt_files/
# *.log